In [161]:
import os
import re
import sqlite3

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## 1) Database connection using sqlite 3

In [9]:
db_path = 'database.sqlite'
conn = sqlite3.connect(db_path)

### 1a) test db connection with a simple sql statement
**NOTE**: used string formatting to save potential typing later on

In [21]:
# base sql string
sql_base_select = 'SELECT {} FROM {};'

# format sql string
sql = sql_base_select.format('*', 'league')

# run select statement and show results
leagues = pd.read_sql(sql, conn)
leagues.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [55]:
# how many leagues exists in db and which leagues are they
print(leagues['name'].nunique())
list(leagues['name'].unique()) # cast to list for "prettier" formatting than pd.Series object

11

['Belgium Jupiler League',
 'England Premier League',
 'France Ligue 1',
 'Germany 1. Bundesliga',
 'Italy Serie A',
 'Netherlands Eredivisie',
 'Poland Ekstraklasa',
 'Portugal Liga ZON Sagres',
 'Scotland Premier League',
 'Spain LIGA BBVA',
 'Switzerland Super League']

### 1b) using a **subquery** to *only* select premier league matches
**NOTE**: this avoids needing to find the league id before running the query, you just need to know a *unique* component of the league name which we can figure out from the list we printed above

In [52]:
sql = '''
    SELECT * FROM match
    WHERE league_id = (
        SELECT id from league
        WHERE name LIKE "%England%"
    );
'''

df = pd.read_sql(sql, conn)
df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1729,1729,1729,2008/2009,1,2008-08-17 00:00:00,489042,10260,10261,1,...,10.00,1.28,5.5,12.00,1.30,4.75,10.0,1.29,4.50,11.00
1,1730,1729,1729,2008/2009,1,2008-08-16 00:00:00,489043,9825,8659,1,...,12.00,1.25,6.0,13.00,1.22,5.50,13.0,1.22,5.00,13.00
2,1731,1729,1729,2008/2009,1,2008-08-16 00:00:00,489044,8472,8650,0,...,1.73,5.50,3.8,1.65,5.00,3.40,1.7,4.50,3.40,1.73
3,1732,1729,1729,2008/2009,1,2008-08-16 00:00:00,489045,8654,8528,2,...,3.75,1.90,3.5,4.35,1.91,3.25,4.0,1.91,3.25,3.80
4,1733,1729,1729,2008/2009,1,2008-08-17 00:00:00,489046,10252,8456,4,...,3.75,1.90,3.5,4.35,1.91,3.25,4.0,1.91,3.30,3.75

In [200]:
data_type_map = {
    'float64': 'REAL',
    'int64': 'INTEGER',
    'object': 'TEXT'
}

foreign_key_constraints = {
    'country':'',
    'league':'FOREIGN KEY("country_id") REFERENCES "country"("id")',
    'match':'FOREIGN KEY("country_id") REFERENCES "country"("id"), FOREIGN KEY("league_id") REFERENCES "League"("id"), FOREIGN KEY("home_team_api_id") REFERENCES "Team"("team_api_id"), FOREIGN KEY("away_team_api_id") REFERENCES "Team"("team_api_id"), FOREIGN KEY("home_player_1") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_2") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_3") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_4") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_5") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_6") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_7") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_8") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_9") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_10") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_11") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_1") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_2") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_3") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_4") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_5") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_6") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_7") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_8") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_9") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_10") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_11") REFERENCES "Player"("player_api_id")',
    'player':'',
    'player_attributes':'FOREIGN KEY("player_fifa_api_id") REFERENCES "Player"("player_fifa_api_id"), FOREIGN KEY("player_api_id") REFERENCES "Player"("player_api_id")',
    'team':'',
    'team_attributes':'FOREIGN KEY("team_fifa_api_id") REFERENCES "Team"("team_fifa_api_id"), FOREIGN KEY("team_api_id") REFERENCES "Team"("team_api_id")',    
}

folder_path_csv = os.path.join(os.getcwd(), 'csv_data')

file_names = os.listdir(folder_path_csv)
file_name = file_names[0]
file_name_short = file_name[:-4]

file_path = os.path.join(folder_path_csv, file_name)
df_test2 = pd.read_csv(file_path)

#print(f'Found {df_test2.shape[1]} columns in {file_name}:\n')

sql = f'CREATE TABLE {file_name[:-4]} ('
column_names = df_test2.columns
column_count = len(column_names)
for i, column_name in enumerate(column_names):
    data_type = data_type_map[df_test2[column_name].dtype.name]
    sql += f'{column_name} {data_type}'
    
    if i == 0:
        sql += f' PRIMARY KEY'
        
    if i != (column_count - 1):
        sql += ', '
        
sql += ')'
sql += f' {foreign_key_constraints[file_name_short]};'
print(sql)

#print('Unique list of data types')
#print(set(dtypes))

CREATE TABLE country (id INTEGER PRIMARY KEY, name TEXT) ;

In [182]:
all_tables = pd.read_sql("""SELECT * FROM sqlite_master WHERE type='table';""", conn)
all_tables.head()

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...

In [180]:
all_tables_data = all_tables[['name', 'sql']].values

for i, row in enumerate(all_tables_data):
    if i != 0:
        print(row[0], row[1])

Player_Attributes CREATE TABLE "Player_Attributes" (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`player_fifa_api_id`	INTEGER,
	`player_api_id`	INTEGER,
	`date`	TEXT,
	`overall_rating`	INTEGER,
	`potential`	INTEGER,
	`preferred_foot`	TEXT,
	`attacking_work_rate`	TEXT,
	`defensive_work_rate`	TEXT,
	`crossing`	INTEGER,
	`finishing`	INTEGER,
	`heading_accuracy`	INTEGER,
	`short_passing`	INTEGER,
	`volleys`	INTEGER,
	`dribbling`	INTEGER,
	`curve`	INTEGER,
	`free_kick_accuracy`	INTEGER,
	`long_passing`	INTEGER,
	`ball_control`	INTEGER,
	`acceleration`	INTEGER,
	`sprint_speed`	INTEGER,
	`agility`	INTEGER,
	`reactions`	INTEGER,
	`balance`	INTEGER,
	`shot_power`	INTEGER,
	`jumping`	INTEGER,
	`stamina`	INTEGER,
	`strength`	INTEGER,
	`long_shots`	INTEGER,
	`aggression`	INTEGER,
	`interceptions`	INTEGER,
	`positioning`	INTEGER,
	`vision`	INTEGER,
	`penalties`	INTEGER,
	`marking`	INTEGER,
	`standing_tackle`	INTEGER,
	`sliding_tackle`	INTEGER,
	`gk_diving`	INTEGER,
	`gk_handling`	INTEGER,
	`gk_kicking`	INTEGER,
	`gk_positioning`	INTEGER,
	`gk_reflexes`	INTEGER,
	FOREIGN KEY(`player_fifa_api_id`) REFERENCES `Player`(`player_fifa_api_id`),
	FOREIGN KEY(`player_api_id`) REFERENCES `Player`(`player_api_id`)
)
Player CREATE TABLE `Player` (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`player_api_id`	INTEGER UNIQUE,
	`player_name`	TEXT,
	`player_fifa_api_id`	INTEGER UNIQUE,
	`birthday`	TEXT,
	`height`	INTEGER,
	`weight`	INTEGER
)
Match CREATE TABLE `Match` (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`country_id`	INTEGER,
	`league_id`	INTEGER,
	`season`	TEXT,
	`stage`	INTEGER,
	`date`	TEXT,
	`match_api_id`	INTEGER UNIQUE,
	`home_team_api_id`	INTEGER,
	`away_team_api_id`	INTEGER,
	`home_team_goal`	INTEGER,
	`away_team_goal`	INTEGER,
	`home_player_X1`	INTEGER,
	`home_player_X2`	INTEGER,
	`home_player_X3`	INTEGER,
	`home_player_X4`	INTEGER,
	`home_player_X5`	INTEGER,
	`home_player_X6`	INTEGER,
	`home_player_X7`	INTEGER,
	`home_player_X8`	INTEGER,
	`home_player_X9`	INTEGER,
	`home_player_X10`	INTEGER,
	`home_player_X11`	INTEGER,
	`away_player_X1`	INTEGER,
	`away_player_X2`	INTEGER,
	`away_player_X3`	INTEGER,
	`away_player_X4`	INTEGER,
	`away_player_X5`	INTEGER,
	`away_player_X6`	INTEGER,
	`away_player_X7`	INTEGER,
	`away_player_X8`	INTEGER,
	`away_player_X9`	INTEGER,
	`away_player_X10`	INTEGER,
	`away_player_X11`	INTEGER,
	`home_player_Y1`	INTEGER,
	`home_player_Y2`	INTEGER,
	`home_player_Y3`	INTEGER,
	`home_player_Y4`	INTEGER,
	`home_player_Y5`	INTEGER,
	`home_player_Y6`	INTEGER,
	`home_player_Y7`	INTEGER,
	`home_player_Y8`	INTEGER,
	`home_player_Y9`	INTEGER,
	`home_player_Y10`	INTEGER,
	`home_player_Y11`	INTEGER,
	`away_player_Y1`	INTEGER,
	`away_player_Y2`	INTEGER,
	`away_player_Y3`	INTEGER,
	`away_player_Y4`	INTEGER,
	`away_player_Y5`	INTEGER,
	`away_player_Y6`	INTEGER,
	`away_player_Y7`	INTEGER,
	`away_player_Y8`	INTEGER,
	`away_player_Y9`	INTEGER,
	`away_player_Y10`	INTEGER,
	`away_player_Y11`	INTEGER,
	`home_player_1`	INTEGER,
	`home_player_2`	INTEGER,
	`home_player_3`	INTEGER,
	`home_player_4`	INTEGER,
	`home_player_5`	INTEGER,
	`home_player_6`	INTEGER,
	`home_player_7`	INTEGER,
	`home_player_8`	INTEGER,
	`home_player_9`	INTEGER,
	`home_player_10`	INTEGER,
	`home_player_11`	INTEGER,
	`away_player_1`	INTEGER,
	`away_player_2`	INTEGER,
	`away_player_3`	INTEGER,
	`away_player_4`	INTEGER,
	`away_player_5`	INTEGER,
	`away_player_6`	INTEGER,
	`away_player_7`	INTEGER,
	`away_player_8`	INTEGER,
	`away_player_9`	INTEGER,
	`away_player_10`	INTEGER,
	`away_player_11`	INTEGER,
	`goal`	TEXT,
	`shoton`	TEXT,
	`shotoff`	TEXT,
	`foulcommit`	TEXT,
	`card`	TEXT,
	`cross`	TEXT,
	`corner`	TEXT,
	`possession`	TEXT,
	`B365H`	NUMERIC,
	`B365D`	NUMERIC,
	`B365A`	NUMERIC,
	`BWH`	NUMERIC,
	`BWD`	NUMERIC,
	`BWA`	NUMERIC,
	`IWH`	NUMERIC,
	`IWD`	NUMERIC,
	`IWA`	NUMERIC,
	`LBH`	NUMERIC,
	`LBD`	NUMERIC,
	`LBA`	NUMERIC,
	`PSH`	NUMERIC,
	`PSD`	NUMERIC,
	`PSA`	NUMERIC,
	`WHH`	NUMERIC,
	`WHD`	NUMERIC,
	`WHA`	NUMERIC,
	`SJH`	NUMERIC,
	`SJD`	NUMERIC,
	`SJA`	NUMERIC,
	`VCH`	NUMERIC,
	`VCD`	NUMERIC,
	`VCA`	NUMERIC,
	`GBH`	NUMERIC,
	`GBD`	NUMERIC,
	`GBA`	NUMERIC,
	`BSH`	NUMERIC,
	`BSD`	NUMERIC,
	`BSA`	NUMERIC,
	FOREIGN KEY(`country_id`) REFERENCES `country`(`id`),
	FOREIGN KEY(`league_id`) REFERENCES `League`(`id`),
	FOREIGN KEY(`home_team_api_id`) REFERENCES `Team`(`team_api_id`),
	FOREIGN KEY(`away_team_api_id`) REFERENCES `Team`(`team_api_id`),
	FOREIGN KEY(`home_player_1`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_2`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_3`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_4`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_5`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_6`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_7`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_8`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_9`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_10`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`home_player_11`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_1`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_2`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_3`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_4`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_5`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_6`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_7`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_8`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_9`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_10`) REFERENCES `Player`(`player_api_id`),
	FOREIGN KEY(`away_player_11`) REFERENCES `Player`(`player_api_id`)
)
League CREATE TABLE `League` (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`country_id`	INTEGER,
	`name`	TEXT UNIQUE,
	FOREIGN KEY(`country_id`) REFERENCES `country`(`id`)
)
Country CREATE TABLE `Country` (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`name`	TEXT UNIQUE
)
Team CREATE TABLE "Team" (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`team_api_id`	INTEGER UNIQUE,
	`team_fifa_api_id`	INTEGER,
	`team_long_name`	TEXT,
	`team_short_name`	TEXT
)
Team_Attributes CREATE TABLE `Team_Attributes` (
	`id`	INTEGER PRIMARY KEY AUTOINCREMENT,
	`team_fifa_api_id`	INTEGER,
	`team_api_id`	INTEGER,
	`date`	TEXT,
	`buildUpPlaySpeed`	INTEGER,
	`buildUpPlaySpeedClass`	TEXT,
	`buildUpPlayDribbling`	INTEGER,
	`buildUpPlayDribblingClass`	TEXT,
	`buildUpPlayPassing`	INTEGER,
	`buildUpPlayPassingClass`	TEXT,
	`buildUpPlayPositioningClass`	TEXT,
	`chanceCreationPassing`	INTEGER,
	`chanceCreationPassingClass`	TEXT,
	`chanceCreationCrossing`	INTEGER,
	`chanceCreationCrossingClass`	TEXT,
	`chanceCreationShooting`	INTEGER,
	`chanceCreationShootingClass`	TEXT,
	`chanceCreationPositioningClass`	TEXT,
	`defencePressure`	INTEGER,
	`defencePressureClass`	TEXT,
	`defenceAggression`	INTEGER,
	`defenceAggressionClass`	TEXT,
	`defenceTeamWidth`	INTEGER,
	`defenceTeamWidthClass`	TEXT,
	`defenceDefenderLineClass`	TEXT,
	FOREIGN KEY(`team_fifa_api_id`) REFERENCES `Team`(`team_fifa_api_id`),
	FOREIGN KEY(`team_api_id`) REFERENCES `Team`(`team_api_id`)
)

In [189]:
table_number = 1

sql = all_tables_data[table_number][1]

print(f'table name: {all_tables["name"].iloc[table_number]}')
re.findall(r'FOREIGN KEY.+"\)', sql.replace('`', '"'))

table name: Player_Attributes

['FOREIGN KEY("player_fifa_api_id") REFERENCES "Player"("player_fifa_api_id")',
 'FOREIGN KEY("player_api_id") REFERENCES "Player"("player_api_id")']

In [194]:
sql

'CREATE TABLE `Team_Attributes` (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`team_fifa_api_id`\tINTEGER,\n\t`team_api_id`\tINTEGER,\n\t`date`\tTEXT,\n\t`buildUpPlaySpeed`\tINTEGER,\n\t`buildUpPlaySpeedClass`\tTEXT,\n\t`buildUpPlayDribbling`\tINTEGER,\n\t`buildUpPlayDribblingClass`\tTEXT,\n\t`buildUpPlayPassing`\tINTEGER,\n\t`buildUpPlayPassingClass`\tTEXT,\n\t`buildUpPlayPositioningClass`\tTEXT,\n\t`chanceCreationPassing`\tINTEGER,\n\t`chanceCreationPassingClass`\tTEXT,\n\t`chanceCreationCrossing`\tINTEGER,\n\t`chanceCreationCrossingClass`\tTEXT,\n\t`chanceCreationShooting`\tINTEGER,\n\t`chanceCreationShootingClass`\tTEXT,\n\t`chanceCreationPositioningClass`\tTEXT,\n\t`defencePressure`\tINTEGER,\n\t`defencePressureClass`\tTEXT,\n\t`defenceAggression`\tINTEGER,\n\t`defenceAggressionClass`\tTEXT,\n\t`defenceTeamWidth`\tINTEGER,\n\t`defenceTeamWidthClass`\tTEXT,\n\t`defenceDefenderLineClass`\tTEXT,\n\tFOREIGN KEY(`team_fifa_api_id`) REFERENCES `Team`(`team_fifa_api_id`),\n\tFOREIGN KEY(`team_api_id`) REFERENCES `Team`(`team_api_id`)\n)'

In [195]:
for i, table in enumerate(all_tables_data):
    if i != 0:
        print(f'table name: {all_tables["name"].iloc[i]}')
        sql = all_tables_data[i][1]
        constraints = re.findall(r'FOREIGN KEY.+"\)', sql.replace('`', '"'))        
        sql_string = ', '.join(constraints)
        print(sql_string)
        print('---')

table name: Player_Attributes
FOREIGN KEY("player_fifa_api_id") REFERENCES "Player"("player_fifa_api_id"), FOREIGN KEY("player_api_id") REFERENCES "Player"("player_api_id")
---
table name: Player

---
table name: Match
FOREIGN KEY("country_id") REFERENCES "country"("id"), FOREIGN KEY("league_id") REFERENCES "League"("id"), FOREIGN KEY("home_team_api_id") REFERENCES "Team"("team_api_id"), FOREIGN KEY("away_team_api_id") REFERENCES "Team"("team_api_id"), FOREIGN KEY("home_player_1") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_2") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_3") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_4") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_5") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_6") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_7") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_8") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_9") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_10") REFERENCES "Player"("player_api_id"), FOREIGN KEY("home_player_11") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_1") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_2") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_3") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_4") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_5") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_6") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_7") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_8") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_9") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_10") REFERENCES "Player"("player_api_id"), FOREIGN KEY("away_player_11") REFERENCES "Player"("player_api_id")
---
table name: League
FOREIGN KEY("country_id") REFERENCES "country"("id")
---
table name: Country

---
table name: Team

---
table name: Team_Attributes
FOREIGN KEY("team_fifa_api_id") REFERENCES "Team"("team_fifa_api_id"), FOREIGN KEY("team_api_id") REFERENCES "Team"("team_api_id")
---